.foo {
  font-family: "TpldKhangXiDictTrial";
  font-size: 20px;
}
@font-face {
  font-family: "TpldKhangXiDictTrial";
  src: url('./font/TpldKhangXiDictTrial.otf');
  font-style: normal;
  font-weight: normal;
}